.modal {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}
.modal__bg {
  width: 100%;
  height: 100%;
  opacity: .6;
  background-color: var(--color-gray-80);
}
.modal__dialog {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  min-height: 400px;
  margin: 0 auto;
  background-color: var(--color-white);
  box-shadow: 0px 0px 35px #00000055;
}

/* .modal__top */

.modal__top {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 25px 30px;
}
.modal__top h2 {
  display: inline-block;
  width: fit-content;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}
.modal__top h2 span {
  margin-left: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #B0B0B0;
}
.modal__close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15px;
  right: 15px;
}
.modal__close svg path {
  transition: fill var(--transition-duration) ease-in-out;
}
.modal__close:hover svg path {
  fill: var(--color-accent);
}
.modal__input-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal__input-wrap:not(:last-child) {
  margin-bottom: 30px;
}
.modal__input-wrap input {
  width: 100%;
  height: 25px;
  border: none;
  border-bottom: 1px solid var(--color-gray-20);
  font-weight: 600;
  font-size: 14px;
  transition: border-bottom-color var(--transition-duration) ease-in-out;
}
.modal__input-wrap input:hover {
  border-bottom-color: var(--color-accent);
}
.modal__input-wrap input:focus {
  outline: none;
  border-bottom-color: var(--color-accent);
}
.modal__label {
  position: absolute;
  top: 3px;
  font-size: 14px;
  color: var(--color-gray-40);
  transition-property: top, font-size;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-in-out;
}
.modal__label--active {
  top: -18px;
  font-size: 11px;
}
.modal__label span {
 color: var(--color-accent);
}

/* .modal__middle */

.modal__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 25px 30px;
  background-color: var(--color-gray-5);
}
.modal__newContact-content {
  width: 100%;
  /* display: none; */
}
.modal__newContact {
  display: flex;
  margin-bottom: 25px;
  border-top: 1px solid var(--color-gray-20);
  border-bottom: 1px solid var(--color-gray-20);
}

.choices {
  flex-shrink: 0;
  width: 123px;
  margin-bottom: 0;
}
.choices__inner {
  display: flex;
  align-items: center;
  height: 37px;
  min-height: unset;
  border: none;
  border-right: 1px solid var(--color-gray-20);
  border-left: 1px solid var(--color-gray-20);
  border-radius: 0;
	font-size: 12px;
  background-color: var(--color-gray-10);
  transition: background-color var(--transition-duration) ease-in-out;
}
.choices__inner:hover {
  background-color: var(--color-gray-15);
}
.choices__list[aria-expanded] .choices__item--selectable {
  padding-right: 0;
}
.choices__list[aria-expanded] .choices__item {
  font-size: 12px;
}
.is-open .choices__inner {
  border-radius: 0;
}
.choices__list[aria-expanded] {
  border-radius: 0;
  margin-top: 0;
}
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: var(--color-gray-10);
}
.choices {
  overflow: visible;
}
.choices__list--dropdown {
  opacity: 0;
  transition: all var(--transition-duration) ease-in-out;
}
.is-active.choices__list--dropdown {
  opacity: 1;
}
.choices[data-type*="select-one"]::after {
  width: 12px;
  height: 12px;
  border-style: none;
  margin: 0;
  top: 36%;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  transition: rotate var(--transition-duration) ease-in-out;
}
.choices[data-type*="select-one"].is-open::after  {
  margin: 0;
  rotate: 180deg;
}

.modal__input {
  width: 100%;
  padding-left: 15px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  transition: background-color var(--transition-duration) ease-in-out;
}
.modal__input:hover {
  outline: none;
  background-color: #f3effd
}
.modal__input:focus-visible {
  outline: none;
  background-color: #f3effd
}
.modal__deleteContact-btn {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-right: 1px solid var(--color-gray-20);
  border-left: 1px solid var(--color-gray-20);
}
.modal__deleteContact-btn svg g path {
  fill: var(--color-gray-19);
  transition: fill var(--transition-duration) ease-in-out;
}
.modal__deleteContact-btn:hover svg g path {
  fill: red;
}
.modal__addNewContact-btn {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  transition: color var(--transition-duration) ease-in-out;
}
.modal__addNewContact-btn svg {
  margin-right: 5px;
}
.modal__addNewContact-btn:hover {
  color: var(--color-accent);
}

/* .modal__bottom */

.modal__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 25px 30px;
}
.modal__btn-primary {
  /* width: fit-content; */
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 14px;
  padding: 13px 35px;
  color: var(--color-white);
  background-color: var(--color-accent);
  transition:  background-color var(--transition-duration) ease-in-out;
}
.modal__btn-primary:hover {
  background-color: var(--color-accent-light);
}
.modal__btn-secondary {
  text-decoration: underline;
  font-size: 12px;
  line-height: 16px;
  transition: color var(--transition-duration) ease-in-out;
}
.modal__btn-secondary:hover {
  color: var(--color-accent);
}

/* .modal-delete */

#modal-delete .modal__dialog {
  min-height: unset;
  padding: 25px 90px;
}
#modal-delete .modal__dialog span {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
#modal-delete .modal__dialog p {
  margin-bottom: 25px;
  text-align: center;
  font-size: 14px;
}

.modal__errors-wrap {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}
.error {
  color: red;
  font-size: 12px;
}
