:root {
  --color-accent: #9873FF;
  --color-accent-dark: #7442fc;
  --color-accent-light: #AE91FD;
  --color-white: #fff;

  --color-gray-5: #f1f1f1;
  --color-gray-10: #e5e5e5;
  --color-gray-15: #d8d8d8;
  --color-gray-19: #b0b0b0;
  --color-gray-20: #ccc;
  --color-gray-40: #999;
  --color-gray-60: #666;
  --color-gray-80: #333;

  --transition-duration: .2s
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #E5E5E5;
  color: var(--color-gray-80);
}
body,
input,
textarea,
button  {
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
.row {
  display: flex;
  width: 100%;
}
.col {
  display: flex;
  align-items: center;
}
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

header {
  width: 100%;
  height: 90px;
  background-color: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, .15);
}
main {
  padding: 40px 0;
}
h1 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

/* Сортировка */

.sort__row {
  padding: 0 20px;
  margin-bottom: 10px;
}
.sort__row .col {
  align-items: flex-end;
  font-size: 12px;
  line-height: 16px;
}
.sort__row .col:not(:last-child) {
  padding-right: 20px;
}
.sort__header {
  cursor: pointer;
  color: var(--color-gray-19);
}
.sort__header.sort-active {
  color: var(--color-accent);
}
.sort__header svg {
  flex-shrink: 0;
  margin-bottom: -3px;
  margin-left: 4px;
  z-index: -1;
}
.rotate {
  rotate: 180deg;
}
.sort__header span {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: var(--color-accent);
}




.clients-wrap {
  align-items: center;
  background-color: #fff;
  margin-bottom: 20px;
}
.client-row {
  height: 60px;
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #C8C5D1;
}

.client-row .col:not(:last-child) {
  padding-right: 20px;
}
.clients-wrap .col {
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 19px;
}
.clients-wrap .client__id {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-gray-19);
}
.client__time,
.client__time {
  padding-left: 10px;
  color: var(--color-gray-19);
}
.client__actions {
  justify-content: space-between;
}

.client__id {
  min-width: 12%;
}
.client__name {
  min-width: 25%;
}
.client__create,
.client__update {
  min-width: 15%;
}
.client__contacts {
  min-width: 13%;
}
.client__actions {
  min-width: 20%;
}


.client__contacts svg:not(:last-child) {
  margin-right: 0.25rem;
}
.client__actions button {
  display: flex;
  transition: color var(--transition-duration) ease-in-out;
}
.client__actions button:hover {
  color: var(--color-accent);
}

.contact:not(:last-child) {
  margin-right: 4px;
}

.button-wrap {
  display: flex;
  width: 100%;
  justify-content: center;
}

.newclient__btn {
  padding: 13px 27px;
  border: 1px solid #9873FF;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #9873FF;
}



.client__contact-link {
  display: flex;
  transition: scale .1s ease-in-out;
}
.client__contact-link:hover {
  scale: 1.2;
}
