* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #E5E5E5;
  font-family: 'Inter', sans-serif;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

header {
  width: 100%;
  height: 90px;
  background-color: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, .15);
}
main {
  padding: 40px 0;
}
h1 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.modal-1 {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
  /* outline: 0; */
  z-index: 10;
}
.display {
  display: flex;
}
.modal-1__dialog {
  width: 450px;
  min-height: 50%;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, .15);
}
.modal-1__content {
  display: flex;
  flex-direction: column;
}
.modal-1 input {
  margin-bottom: 1rem;
}



.clients-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin-bottom: 1rem;
}
.client-row {
  height: 60px;
  margin: 0;
  padding: 0 20px;
  border-bottom: 1px solid #C8C5D1;
}
.client-row .col {
  display: flex;
  align-items: center;
  height: inherit;
}
.client-row .col:not(:last-child) {
  padding-right: 20px;
}
.client__id {
  font-size: 12px;
  line-height: 16px;
  color: #b0b0b0;
}
.client__name,
.client__create,
.client__update {
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}
.client__time,
.client__time {
  padding-left: 10px;
  font-size: 14px;
  line-height: 19px;
  color: #b0b0b0;
}
.client__actions {
  justify-content: space-between;
}

.client__id {
  width: 12%;
}
.client__name {
  width: 30%;
}
.client__create,
.client__update {
  width: 15%;
}
.client__contacts {
  width: 13%;
}
.client__actions {
  width: 15%;
}

.client__contacts svg:not(:last-child) {
  margin-right: 0.25rem;
}

.contact:not(:last-child) {
  margin-right: 5px;
}
